
<div class="container mt-1">
    {% if vacancy|length > 0 %}
        <h3>Были подобраны следующие вакансии:</h3>
{#        <p>{{ vacancy }}</p>#}
        {% for el in vacancy %}
            <div class="alert alert-info">
            <p><b>{{ el.name}}</b></p>
            <p>Совпадение: {{ el.lrate }}</p>
            <a class="btn btn-warning" href={{ el.link }}>Детальнее</a>
            </div>
        {% endfor %}
    {% else %}
        <h2> Поиск не нашёл подходящих вакансий </h2>
    {% endif %}
</div>
