{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="container">
    <main class="px-3">
        <h1>Сервис поиска подходящих вакансий</h1>
        <p class="lead">После очередного поиска на hh.ru по запросу "python разработчик"
            ты обнаружил большинство вакансий связанных с автоматизация процессов, а ты хотел в backend? </p>
        <p class="lead"> Больше не нужно переходить на все вакансии подряд и смотреть требования работодателя. После анализа твоих ключевых навыков, мы подберем для тебя подходящие вакансии </p>
          <a href="/find" class="btn btn-success">Попробовать</a>
        </p>
    </main>
</div>

{% endblock %}
